<div style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  ">
    <div style="display: flex; width: 700px; margin: 0 auto;">
        <div style="
            min-width: 200px;
            min-height: 200px;
            line-height: 200px;
            text-align: center;
            background: #c2d2ed;
            color: #fff;
            font-family: 'Verdana';
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
"><span style="text-decoration:underline;margin: 0 auto">Screenshoty</span></div>
        <div class="content"
             style="
        width: 100%;
        border-bottom: 3px solid #c2d2ed;
        border-right: 3px solid #c2d2ed;
      ">
            <h2 style="text-align: center">Password Reset</h2>
            <div>
                <p style="padding: 10px; text-align:center;">
                    Click button to reset your password in the system
                </p>
                <div style="text-align: center; margin: 20px;">
                    <a href="{{url}}"
                       style="
              text-decoration: none;
              color: #fff;
              background: #387ae9;
              padding: 10px 20px;
              border-radius: 5px;
              box-shadow: 2px 1px 2px #aaa;
            ">Create</a>
                </div>
            </div>
        </div>
    </div>
</div>