.sideNav {
    background: #5588e4;
}

.ListItemText svg {
    background: #fff;
    color: #5588e4;
}

.selectedNavlink {
    background: #000;
}

.activeLink {
    transition: 1s all;
    position: absolute;
    right: 0;
    background: rgba(210,214,236,1);
    border-top: 48px solid transparent;
        
    border-left: 48px solid #1976D2;
}

.drawer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    background-color: #1976D2;
}

div {
    border-right: none !important;
}
.active {
    border-left: 3px solid #fff;
    background: rgba(5, 98, 190, 0.7);
}